body {
  font-family: "Montserrat", sans-serif;
  margin: 16px;
}

select {
  padding: 4px;
}
/* Test */
div {
  margin: 5px;
}
li > p {
  margin: 0;
}
/* Test */

.header-search-container {
  display: flex;
  justify-content: flex-end;
}

.header-search-close-button {
  cursor: pointer;
  padding: 0;
  position: relative;
}

.header-search-cross-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 1;
  color: #333;
}

.kved-page-wrapper {
  margin-bottom: 10px;
}

.kved-page-wrapper-trigger {
  cursor: pointer;
  background-color: #323636;
  color: #fff;
  padding: 10px;
  font-weight: 200;
  font-size: 22px;
  margin: 10px;
}
.kved-page-wrapper-content {
  margin: 10px;
}


.kved-page-wrapper-content-first-step-trigger,
.kved-page-wrapper-content-second-step-trigger,
.kved-page-wrapper-content-third-step-trigger{
  cursor: pointer;
  display: flex;
  align-items: baseline;
}
.kved-page-wrapper-content-first-step-trigger > span {
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
}

.kved-page-wrapper-content-second-step-trigger > span {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
}

.kved-page-wrapper-content-third-step-trigger > span {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
}

.content-third-floor {
  font-size: 12px;
}

/*  */
.mystyle-invisible {
  display: none;
}

.mystyle-visible {
  display: block;
}
